<%- include('partials/navbar') %> 
 <h1>About Us</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tenetur assumenda atque dolorem nesciunt qui harum enim repudiandae esse, optio numquam explicabo corporis ullam, labore dolor. Officia et tempore dolorum?</p>

 <p>There is nothing more to say</p>
<%- include('partials/footer') %> 