<%- include('../partials/navbar') %> 
<div class="container">
<a href="/users/<%= user._id %> " class="btn btn-danger mt-3 mb-3">Back</a>
<h1>Edit form</h1>
<form class='container pb-4' action="/users/<%= user._id %>/edit?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Profile photo</label>
      <input type="text" class="form-control" name="imgURL" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
<%- include('../partials/footer') %> 